    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-size: 100%;
    }
    
    #cores p {
        font-family: 'Kavivanar', cursive;
        background: linear-gradient(to right, red, blue);
        width: 500px;
        color: #fff;
        padding: 40px;
    }