* {
    margin: 0;
    padding: 0;
}

.texto-principal {
    color: rgb(182, 45, 68);
    text-align: center;
}

.fundo-principal {
    background-color: #ccc;
}

#conteudo {
    background-color: blue;
    padding: 20px;
    color: white;
}