    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-size: 100%;
    }
    
    #conteudo {
        width: 600px;
        height: 1200px;
        background-color: red;
        position: relative;
    }
    
    #texto {
        width: 500px;
        background-color: green;
        color: #fff;
        position: absolute;
        left: 0;
        top: 40px;
        ;
    }